@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 fade-in">Welcome to my ToDoApp!</h1>
    <p class="lead fade-in" style="animation-delay: 0.2s;">Manage your daily activities easily.</p>
    <a asp-controller="TodoTasks" asp-action="Index" class="btn btn-primary fade-in" style="animation-delay: 0.4s;">
        Jump to tasks
    </a>
</div>