@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my ToDoApp!</h1>
    <p class="lead">Manage your daily activities easily.</p>
    <a class="btn btn-primary btn-lg mt-3" asp-controller="TodoTasks" asp-action="Index">Jump to tasks</a>
</div>