@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    At ToDoApp, we respect your privacy. We do not collect or share any personal information beyond what you enter to use the app.

    We only store the tasks and information you provide to help you organize your to-dos.

    Your data is kept private and secure, and we do not sell or share it with third parties.
</p>
<p>
    If you have questions about your data, contact us at:<a href="mailto:veromihaly18@gmail.com">veromihaly18@gmail.com</a>.
</p>